html,
body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.container-fostrap {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
}

.fostrap-logo {
    width: 100px;
    margin-bottom: 15px
}

h1.heading {
    color: #fff;
    font-size: 1.15em;
    font-weight: 900;
    margin: 0 0 0.5em;
    color: #505050;
}

@media (min-width: 450px) {
    h1.heading {
        font-size: 3.55em;
    }
}

@media (min-width: 760px) {
    h1.heading {
        font-size: 3.05em;
    }
}

@media (min-width: 900px) {
    h1.heading {
        font-size: 3.25em;
        margin: 0 0 0.3em;
    }
}

.card {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow .25s;
}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-card {
    /* width: 100%;
    height: 200px; */
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden;
}

.img-card img {
    /* width: 100%; */
    height: 200px;
    object-fit: cover;
    transition: all .25s ease;
    display: block;
    margin: 0 auto;
}

.card-content {
    padding: 15px;
    text-align: left;
}

.card-title {
    margin-top: 0px;
    font-weight: 700;
    font-size: 1em;
}

.card-title a {
    color: #000;
    text-decoration: none !important;
}

.card-read-more {
    border-top: 1px solid #D4D4D4;
}

.card-read-more a {
    text-decoration: none !important;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase
}


.arrow-btn {
    background-color: #f5f5f5;
    /* نفس اللون الرمادي الفاتح */
    border: none;
    /* بدون حدود */
    border-radius: 8px;
    /* حواف ناعمة */
    width: 100%;
    /* عرض الزر */
    height: 40px;
    /* ارتفاع الزر */
    display: flex;
    /* لمحاذاة السهم */
    align-items: center;
    justify-content: center;
    font-size: 18px;
    /* حجم السهم */
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    /* ظل خفيف جدًا */
    transition: background-color 0.2s ease;
    /* right: 30px; */
    /* position: absolute;
    margin: -8px -5px 10px 0px; */
}

.arrow-btn:hover {
    background-color: #ebebeb;
    /* عند المرور يتغير للون أغمق بسيط */
}

.btn-explore{
        width: 100%;
    font-weight: 700;
}

.btn-explore:hover{
    background-color: #fff;
    color: #000;
}
.subtitle-card{
    background-color:#a6a3a3;
    font-size: .7em;
}

.cat1{
    background-color:#909b61; 
    font-size: 15px;
}

.cat2{
    background-color:#c9936a; 
    font-size: 15px;
}

.cat3{
    background-color:#c26b58; 
    font-size: 15px;
}

.cat4{
    background-color:#759592; 
    font-size: 15px;
}

.cat5{
    background-color:#df9317; 
    font-size: 15px;
}